<h1>New time_box</h1>

<% form_for(@time_box) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', time_boxes_path %>
